@model BGC.Web.ViewModels.ViewModelBase

@using System.Globalization;

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @if (MVC.Debugging)
    {
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" integrity="sha384-12jyvLdRujy7xPBSEsRChlYNcKKODOnVcrqexeULMkmGGzBmM9ms6CT1HGxtu96M" crossorigin="anonymous" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha384-TlQc6091kl7Au04dPgLW7WK3iey+qO8dAi/LdwxaGBbszLxnizZ4xjPyNrEf+aQt" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" integrity="sha384-nbu0EcklP74/4DaTXgE8DZcxAX458y/YsSqsK9R31nCkAtdJC5tHRoMsGlNqpo2H" crossorigin="anonymous"></script>
    }
    else
    {
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    }
    <link rel="stylesheet" href="~/Areas/Administration/Resources/css/bt-themes/ace-master/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="~/Areas/Administration/Resources/css/bt-themes/ace-master/ace.min.css" />

    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Areas/Administration/Resources/css/admin.css" />

    @Styles.Render("~/admincss")

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)
</head>
    <body class="container">
        <div @((Model.ErrorMessages.Any()) ? "" : "hidden='hidden'")>
            @RenderSection("errors", required: false)
        </div>

        @if (!Model.RenderErrorsOnly)
        {
            @RenderBody()
            if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown">
                    <div><img src="~/Resources/@(CurrentLocale.Name).png" />@CurrentLocale.DisplayName</div>
                    <div class="dropdown-content">
                        @foreach (CultureInfo supportedCulture in SupportedLanguages)
                        {
                            <a href="@Url.Action(MVC.Administration.Account.SetLocale(supportedCulture.Name))">
                                <img src="~/Resources/@(supportedCulture.Name).png" />
                                @supportedCulture.NativeName
                            </a>
                        }
                    </div>
                </div>
                <div style="position: fixed; right: 0px;">@Html.ActionLink(Localize(Global.Logout), MVC.Administration.Authentication.Actions.LogOut())</div>
            }
        }
    </body>
</html>
