@using System.Globalization;
@using System.Text.RegularExpressions;
@using BGC.Web.Controllers;

@model ArticleViewModel

@{
    ViewBag.Title = string.Format("{0} - {1}", Model.Title, Localize(Global.ApplicationName));
}

@section scripts
{
}

@section header
{
    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/">@Localize(Global.ApplicationName)</a>
                </div>

                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-2">
                    @using (Html.BeginForm(MVC.Public.Main.ActionNames.Search, MVC.Public.Main.Name, FormMethod.Get, new { id = "searchForm", target = "_self", @class = "navbar-form navbar-left", role = "search" }))
                    {
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <input name="query" class="form-control input-wide" type="text" placeholder="@Localize(Public.Main.SearchCaption)" />
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-default">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </nav>
    </div>
}

<div>
    <div class="row col-lg-offset-1">
        <h2>@Model.Title</h2>
    </div>

    <div class="row">
        <hr class="col-lg-offset-1 col-lg-8">
    </div>

    <div class="row">
        <div id="translations" class="col-lg-offset-1 col-lg-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">@Localize(Public.Main.Read.LanguagesSelectionCaption)</h3>
                </div>
                <div class="panel-body">
                    @{
                        Guid composerId = Guid.Parse(Request.QueryString[MVC.Public.Main.ReadParams.composerId]);
                        foreach (CultureInfo language in SupportedLanguages)
                        {
                            <div>
                                @{
                                    string languageName = Regex.Replace(language.NativeName, @"\s\([\w\d\s]+\)", ""); @* remove the region name and leave the language name only *@
                                if (!language.Equals(CurrentLocale))
                                {
                                    RouteValueDictionary newRouteData = new RouteValueDictionary(ViewContext.RouteData.Values);
                                    newRouteData[(ViewContext.Controller as BgcControllerBase).ApplicationProfile.LocaleRouteTokenName] = language.Name;
                                    newRouteData.Add(MVC.Public.Main.ReadParams.composerId, composerId);

                                    @Html.ActionLink(languageName, MVC.Public.Main.ActionNames.Read, newRouteData)
                                }
                                else
                                {
                                    <span>@languageName</span>
                                }
                                }
                            </div>
                                    }
                    }
                </div>
            </div>
        </div>

        <div class="col-lg-6 panel panel-default">
            <article class="panel-body">
                @Html.Raw(Model.Text)
            </article>
        </div>
    </div>
</div>