@model IList<AddComposerViewModel>

@{
    ViewBag.Title = "Add";
}

@section scripts
{
    @if (IsDebugBuild)
    {
        <script src="http://cdn.tinymce.com/4/tinymce.js" crossorigin="anonymous"></script> @*integrity="sha384-ZLmGcx7NndDoJD1tvNLyxHbAgPmytCoUoJaZE9jgXaHtwusXSYf8STW0nS0404nY" attribute removed due to compatibility issues with Firefox *@
    }
    else
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.13/tinymce.min.js" crossorigin="anonymous"></script> @*integrity="sha384-UjGxx2YJw/Y9s7bFilng+uZ6gYzCSZqfQGli4HdOmweqmbJBMGuPbkZdkmrzxUk9" attribute removed due to compatibility issues with Firefox *@
    }
    <script src="~/Areas/Administration/Scripts/Edit/Add.js"></script>
}

<h2>Add</h2>

@using (Html.BeginForm(MVC.Public.Resources.Actions.Upload(), FormMethod.Post, new { @id = "uploadArea", target = "postResult" }))
{
    <input id="uploadInput" hidden="hidden" type="file"/>
}

<iframe id="postResult" hidden="hidden"></iframe>

@using (Html.BeginForm())
{
    <div id="accordion" class="mce-textareas-placeholder" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(m => Model[i].Language)
            <div class="panel-heading" role="tab" id="article-heading-@i">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#article-collapse-@i" aria-controls="article-collapse-@i">
                        &gt;
                    </a>
                    @Model[i].Language.DisplayName:
                    @Html.TextBoxFor(m => Model[i].FullName)
                </h4>
            </div>
            <div id="article-collapse-@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="article-heading-@i">
                @Html.TextAreaFor(m => Model[i].Article, new { @class = "tinymce" })
            </div>
        }
        </div>
    </div>
    <input type="submit" value="@Localize(Global.Submit)" />
}
