@model AddOrUpdateComposerViewModel

@{
    ViewBag.Title = Localize(Administration.Edit.Update.UpdateArticle);
}

@section scripts
{
    @if (MVC.Debugging)
    {
        <script src="http://cdn.tinymce.com/4/tinymce.js" crossorigin="anonymous"></script> @*integrity="sha384-ZLmGcx7NndDoJD1tvNLyxHbAgPmytCoUoJaZE9jgXaHtwusXSYf8STW0nS0404nY" attribute removed due to compatibility issues with Firefox *@
    }
    else
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.13/tinymce.min.js" crossorigin="anonymous"></script> @*integrity="sha384-UjGxx2YJw/Y9s7bFilng+uZ6gYzCSZqfQGli4HdOmweqmbJBMGuPbkZdkmrzxUk9" attribute removed due to compatibility issues with Firefox *@
    }
    <script src="~/Areas/Administration/Scripts/Edit/Add.js"></script>
}

@section sidebar_content
{
    <div class="sidebar-actions-container">
        <div>
            <button type="submit" form="addComposerForm" class="btn btn-lg btn-success btn-block">
                <i class="ace-icon fa fa-floppy-o"></i>
                <span>@Localize(Global.Save)</span>
            </button>
        </div>
        <div>
            <div id="uploadArea" class="dropzone well" data-action-url="@Url.RouteUrl("resources", new { action = MVC.Public.Resources.ActionNames.Upload } )">
                <div class="dz-default dz-message">
                    <i class="upload-icon ace-icon fa fa-cloud-upload blue fa-3x"></i>
                    <br />
                    <span class="smaller-80 grey">@Localize(Administration.Edit.Add.UploadImagesPrompt)</span>
                </div>
            </div>
        </div>
        <div>
            <div id="uploadedImages" class="image-container">
                @foreach (ImageViewModel imgSource in Model.Images)
                {
                    <div>
                        <img src="@imgSource.Location"/>
                    </div>
                }
            </div>
        </div>
    </div>
}

<iframe id="postResult" hidden="hidden"></iframe>

<div class="page-content">
    <div class="page-header">
        <h1>@Localize(Administration.Edit.Update.UpdateArticle)</h1>
    </div>

    @using (Html.BeginForm(
        result: Model.ComposerId == default(Guid) ? MVC.Administration.Edit.Add_Post() : MVC.Administration.Edit.Update_Post(),
        formMethod: FormMethod.Post,
        htmlAttributes: new { id = "addComposerForm" }))
    {
        <div id="imgInputs">
            @for (int i = 0; i < Model.Images.Count; i++)
            {
                @Html.HiddenFor(m => Model.Images[i].Location, new { @class = "img-location" })
                @Html.HiddenFor(m => Model.Images[i].Preferred)
            }
        </div>
        @Html.HiddenFor(m => m.ComposerId)
        <div id="accordion" class="mce-textareas-placeholder" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                @for (int i = 0; i < Model.Articles.Count; i++)
                {
                    <div class="article-editor">
                        @Html.HiddenFor(m => Model.Articles[i].Language)
                        <div class="panel-heading" role="tab" id="article-heading-@i">
                            <div class="row name-edit-header">
                                <a data-toggle="collapse" data-parent="#accordion" href="#article-collapse-@i" aria-controls="article-collapse-@i">
                                    <i data-icon-hide="ace-icon glyphicon glyphicon-minus" data-icon-show="ace-icon glyphicon glyphicon-plus" class="ace-icon glyphicon glyphicon-plus"></i>
                                </a>
                                <span class="textbox-addon-left">
                                    <span class="icon">
                                        <img src="~/Resources/@(Model.Articles[i].Language.Name).png" />
                                    </span>
                                    @Html.TextBoxFor(
                                             expression: m => Model.Articles[i].FullName,
                                             htmlAttributes: new
                                             {
                                                 tabindex = i + 1,
                                                 placeholder = string.Format(
                                                     format: LocalizationService.Localize(Administration.Edit.Add.NamePromptFormat, Model.Articles[i].Language),
                                                     arg0: Model.Articles[i].Language.NativeName.Substring(
                                                         startIndex: 0,
                                                         length: Model.Articles[i].Language.NativeName.IndexOf(' ')))
                                             })
                                    @if (Model.Order != null)
                                    {
                                        <label class="badge" title="@Localize(Administration.Edit.Update.ExplainOrder)">
                                            @(Model.Order + 1)
                                        </label>
                                    }
                                </span>
                            </div>
                        </div>
                        <div id="article-collapse-@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="article-heading-@i">
                            @Html.TextAreaFor(m => Model.Articles[i].Content, new { @class = "tinymce" })
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
