@model ApplicationSettingsWritePermissionViewModel

@{
    ViewBag.Title = Localize(Administration.Settings.ApplicationSettings.Title);
}

@section sidebar_content
{
    <div class="sidebar-actions-container">
        <button type="submit" form="settingsForm" class="btn btn-lg btn-success btn-block">
            <i class="ace-icon fa fa-floppy-o"></i>
            <span>@Localize(Global.Save)</span>
        </button>
    </div>
}

<div class="page-content">
    <h2 class="header lighter green">@ViewBag.Title</h2>
    <form id="settingsForm" method="post">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>@Localize(Administration.Settings.ApplicationSettings.SettingName)</td>
                    <td>@Localize(Administration.Settings.ApplicationSettings.SettingType)</td>
                    <td>@Localize(Administration.Settings.ApplicationSettings.SettingValue)</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Settings.Count; i++)
                {
                    <tr>
                        <td>@Model.Settings[i].Name</td>
                        <td>@Model.Settings[i].Type</td>
                        <td>
                            <div>@Html.EditorFor(m => m.Settings[i], Model.Settings[i].TypeName)</div>
                            @Html.HiddenFor(m => m.Settings[i].TypeName)
                            @Html.HiddenFor(m => m.Settings[i].Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

@section scripts
{
    @if (MVC.Debugging)
    {
        <script src="http://cdn.tinymce.com/4/tinymce.js" crossorigin="anonymous"></script> @*integrity="sha384-ZLmGcx7NndDoJD1tvNLyxHbAgPmytCoUoJaZE9jgXaHtwusXSYf8STW0nS0404nY" attribute removed due to compatibility issues with Firefox *@
    }
    else
    {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.13/tinymce.min.js" crossorigin="anonymous"></script> @*integrity="sha384-UjGxx2YJw/Y9s7bFilng+uZ6gYzCSZqfQGli4HdOmweqmbJBMGuPbkZdkmrzxUk9" attribute removed due to compatibility issues with Firefox *@
    }
    <script src="~/Areas/Administration/Scripts/Settings/Settings.js"></script>
}