@model ChangePasswordViewModel

@{
    ViewBag.Title = Localize(Administration.Account.ChangePassword.ChangePasswordTitle);
}

<div class="login-container login-layout light-login">
    <div class="margin-vertical-med">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header blue lighter bigger">
                        @Localize(Administration.Account.ChangePassword.ChangePasswordTitle)
                    </h4>

                    @using (Html.BeginForm(MVC.Administration.Account.ChangePassword_Post()))
                    {
                        <fieldset>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = @Localize(Administration.Account.ChangePassword.CurrentPassword) })
                                    <i class="ace-icon fa fa-lock"></i>
                                </span>
                            </label>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = @Localize(Administration.Account.ChangePassword.NewPassword) })
                                    <i class="ace-icon fa fa-lock"></i>
                                </span>
                            </label>
                            <label class="block clearfix">
                                <span class="block input-icon input-icon-right">
                                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = @Localize(Administration.Account.ChangePassword.ConfirmNewPassword) })
                                    <i class="ace-icon fa fa-lock"></i>
                                </span>
                            </label>
                            <div class="clearfix center">
                                <button type="submit" class="width-35 btn btn-sm btn-primary">
                                    <i class="ace-icon fa fa-key"></i>
                                    @Localize(Global.Ok)
                                </button>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>