@model ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>

@if (Model.ErrorMessages.Any())
{
    foreach (string message in Model.ErrorMessages)
    {
        <div>@message</div>
    }
}

@using (Html.BeginForm(MVC.AdministrationArea.Account.ChangePassword_Post()))
{
    <table>
        <tr>
            <td>@Localize(Administration.Account.ChangePassword.CurrentPassword)</td>
            <td>@Html.PasswordFor(m => m.CurrentPassword)</td>
        </tr>
        <tr>
            <td>@Localize(Administration.Account.ChangePassword.NewPassword)</td>
            <td>@Html.PasswordFor(m => m.NewPassword)</td>
        </tr>
        <tr>
            <td>@Localize(Administration.Account.ChangePassword.ConfirmNewPassword)</td>
            <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="@Localize(Administration.Account.ChangePassword.ChangePasswordLabel)" />
            </td>
        </tr>
    </table>
}
