@model RequestPasswordResetViewModel

@{
    ViewBag.Title = Localize(Administration.Account.RequestPasswordReset.ResetPassword);
}

<div class="ultimate-center light-login">
    <div class="login-container">
        <div class="position-relative">
            @if (Model.IsEmailSent)
            {
                <div class="widget-body widget-box no-border">
                    <div class="widget-main">
                        <div class="text-center">@Localize(Administration.Account.RequestPasswordReset.PasswordResetEmailSent)</div>
                    </div>
                </div>
            }
            else
            {
            <div id="forgot-box" class="forgot-box widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header red lighter bigger">
                            <i class="ace-icon fa fa-key"></i>
                            @Localize(Administration.Account.RequestPasswordReset.ResetPassword)
                        </h4>

                        <div class="space-6"></div>

                        <p>
                            @Localize(Administration.Account.RequestPasswordReset.TypeEmailForPasswordReset)
                        </p>

                        @using (Html.BeginForm(MVC.Administration.Account.RequestPasswordReset_Post(), FormMethod.Post))
                        {
                            <fieldset>
                                <label class="block clearfix">
                                    <span class="block input-icon input-icon-right">
                                        @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "form-control", placeholder = Localize(Global.Email) })
                                        <i class="ace-icon fa fa-envelope"></i>
                                    </span>
                                </label>

                                <div class="clearfix">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                        <span class="bigger-110">@Localize(Global.Send)</span>
                                    </button>
                                </div>
                            </fieldset>
                        }
                    </div><!-- /.widget-main -->

                    <div class="toolbar center">
                        <a href="@Url.Action(MVC.Administration.Authentication.Login())" class="back-to-login-link">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            @Localize(Administration.Account.RequestPasswordReset.BackToLogin)
                        </a>
                    </div>
                </div><!-- /.widget-body -->
            </div>
            }
        </div>
    </div>
</div>