@model PasswordResetViewModel

@{
    ViewBag.Title = "ResetPassword";
}

@section errors
{
    @if (Model.ErrorMessages.Any())
    {
        <div>@Localize(Model.ErrorMessages.First())</div>
    }
}

<h2>ResetPassword</h2>

@using (Html.BeginForm(MVC.AdministrationArea.Account.ResetPassword_Post(), FormMethod.Post))
{
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.Token)
    <table>
        <tr>
            <td>
                <span>@Localize(Administration.Account.ChangePassword.NewPassword)</span>
            </td>
            <td>
                @Html.PasswordFor(m => m.NewPassword)
            </td>
        </tr>
        <tr>
            <td>
                <span>@Localize(Administration.Account.ChangePassword.ConfirmNewPassword)</span>
            </td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="@Localize(Global.Submit)"/>
            </td>
        </tr>
    </table>
}